.page-title{
    margin-top: 30px;
    margin-bottom: 50px;
}

body{
    text-align: center;
}

#clockdiv{
    color: #fff;
    font-weight: 100;
    text-align: center;
    font-size: 55px;
}

#clockdiv > .clock-field{
    padding: 20px;
    border-radius: 7px;
    background: rgb(43, 129, 123);
    display: inline-block;
}

#clockdiv div > span{
    padding: 35px;
    border-radius: 3px;
    background: #000;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 25px;
}